#hide_button, #show_button {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: DodgerBlue;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#hide_button {
    left: 10px;
    padding-top: 150px;
}

#show_button {
    left: 10;
    padding-top: 200;
}